<% render "users/about", bio: @page.user.bio %>
<div class="blog-post">
  <h2 class="blog-post-title"><%= @page.title %></h2>
  <p class="blog-post-meta"><%= @page.created_at%> by <%= link_to @page.user.name, user_path(@page.user) %></p>
  <%= @page.content.html_safe %>
  <hr/>
  <p class="blog-post-meta">
  <% @page.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
  <p>
</div>
