<% content_for :title, @page.title %>
<% render "users/about", bio: @page.user.bio %>
<div class="blog-post">
  <h2 class="blog-post-title">
    <%= @page.title %>
    <%= link_to "Edit", edit_page_path(@page), class: "btn btn-outline-primary" if owner? @page %>
    <%= link_to "Delete", page_path(@page), method: "delete", class: "btn btn-outline-danger", data: {confirm:"Are you sure?"} if owner? @page %>
  </h2>
  <p class="blog-post-meta">
    Posted at <%= @page.created_at.strftime('%B %d, %Y')%>
    by <%= link_to @page.user.name, user_path(@page.user) %>
    to <%= link_to @page.category.name, category_path(@page.category) %>
  </p>
  <%= @page.content.html_safe %>
  <hr/>
  <p class="blog-post-meta">
  <% @page.tags.each_with_index do |tag, i| %>
    <%= link_to tag.name, tag_path(tag) %><%= "," if i < @page.tags.size - 1 %>
  <% end %>
  <p>
</div>
<nav class="blog-pagination">
  <% if !@older %>
    <a class="btn btn-outline-secondary disabled" href="#">Older</a>
  <% else %>
    <%= link_to "Prev", page_path(@older), class: "btn btn-outline-primary" %>
  <% end %>
  <% if !@newer %>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  <% else %>
    <%= link_to "Next", page_path(@newer), class: "btn btn-outline-primary" %>
  <% end %>
</nav>
