<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">An example blog template built with Bootstrap.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <%= boostrap_flash_messages %>
          <%= yield %>
        </div>
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <%= yield :sidebar %>

          <% if category_data %>
          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
              <% category_data.each do |cat| %>
              <li><%= link_to cat.name, categoryname_path(name:cat.name) %></a>
              <% end %>
            </ol>
          </div>
          <% end %>

          <% if archive_data %>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <% archive_data.each do |data| %>
              <li><%= link_to Date.new(data.year.to_i, data.month.to_i).strftime('%B %Y'), archive_path(year:data.year.to_i, month:data.month.to_i) %></a>
              <% end %>
            </ol>
          </div>
          <% end %>

          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/AntonShevchuk">GitHub</a></li>
              <li><a href="https://twitter.com/AntonShevchuk">Twitter</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div>
    </div> <!-- /container -->

    <%= render 'layouts/footer' %>
  </body>
</html>
